<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/FE/customer/css/footer.css">
  <script src="https://kit.fontawesome.com/e8e6ca6395.js" crossorigin="anonymous"></script>
</head>

<body>
  <footer>
    <div class="colum">
      <div>
        <h4>TRUY CẬP TRANG WEB</h4>
        <div class="col-1">
          <div class="item-1">
            <a href="index.html" ><img src="/FE/customer/images/logo/Logo lachongstore 10.png" alt=""/> </a>
          </div>
          <div class="item-1-2">
            <img src="	https://static.chotot.com/storage/default/ios.svg" alt="" width="94px" ; height="32px" />
            <img src="	https://static.chotot.com/storage/default/android.svg" alt="" width="94px" ; height="32px" />
            <img src="https://static.chotot.com/storage/default/huawei_app_install.webp" alt="" width="94px" ;
              height="32px" />
          </div>
        </div>
      </div>
      <div>
        <h4>HỖ TRỢ KHÁCH HÀNG</h4>
        <div class="col-1">
          <ul>
            <li>Trung tâm trợ giúp</li>
            <li>An toàn mua bán</li>
            <li>Quy định cần biết</li>
            <li>Quy chế quyền riêng tư</li>
            <li>Liên hệ hỗ trợ</li>
          </ul>
        </div>
      </div>
      <div>
        <h4>THÔNG TIN TIN CẬY</h4>
        <div class="col-1">
          <ul>
            <li>Giới thiệu</li>
            <li>Tuyển dụng</li>
            <li>Truyền thông</li>
            <li>Blog</li>
          </ul>
        </div>
      </div>
      <div>
        <h4>LIÊN KẾT</h4>
        <div class="col-end">
          <div class="icon">
            <img src="https://static.chotot.com/storage/default/facebook.svg" alt="" width="32px" height="32px" />
            <img src="https://static.chotot.com/storage/default/youtube.svg" alt="" width="32px" height="32px" />
            <img src="https://static.chotot.com/storage/default/linkedin.svg" alt="" width="32px" height="32px" />
          </div>
          <div class="sub">
            <h4>CHỨNG NHẬN</h4>
            <img src="	https://static.chotot.com/storage/default/certificate.webp" alt="" width="130px" height="40px" />
          </div>
        </div>
      </div>
    </div>
    <div class="hr"></div>
    <div class="footer-bot">
      <p>
        Trung tâm bán Đồ gốm - Địa chỉ: Phòng 1808, Tầng 18, Mê Linh Point
        Tower, 02 Ngô Đức Kế, Phường Bến Nghé, Quận 1, TP Hồ Chí Minh
      </p>
      <p>Email: trogiup@chotot.vn - Tổng đài CSKH: 19003003 (1.000đ/phút)</p>
    </div>
  </footer>
</body>

</html>