<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/FE/customer/css/products.css">
    <script src="https://kit.fontawesome.com/e8e6ca6395.js" crossorigin="anonymous"></script>
</head>

<body>
    <iframe src="/FE/customer/views/nav.html" frameborder="0"></iframe>
    <main>

        <section class="products-title">
            <h1>Danh sách sản phẩm</h1>
        </section>
        <section class="products-grid" id="productsGrid">
        </section>
    </main>
    <div class="iframe-wrapper">
        <iframe src="/FE/customer/views/footer.html" frameborder="0" class="footer"></iframe>
    </div>    <script src="/FE/customer/js/products.js"></script>
</body>

</html>
