<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản Phẩm Bình Gốm</title>
    <link rel="stylesheet" href="/FE/customer/css/products.css">
</head>
<body>
      <iframe src="/FE/customer/views/nav.html" frameborder="0"></iframe>
    <!-- Main Content -->
    <main>
        <section class="products-title">
            <h1>Danh sách sản phẩm</h1>
        </section>
        <!-- Products Grid -->
        <section class="products-grid" id="productGrid">
            <!-- Sản phẩm sẽ được hiển thị ở đây -->
        </section>
    </main>

    <script src="/FE/customer/js/product-binhgom.js"></script>
</body>
</html>
